<?xml version="1.0" encoding="UTF-8"?>
<bpmn:definitions xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:bpmn="http://www.omg.org/spec/BPMN/20100524/MODEL" xmlns:bpmndi="http://www.omg.org/spec/BPMN/20100524/DI" xmlns:dc="http://www.omg.org/spec/DD/20100524/DC" xmlns:di="http://www.omg.org/spec/DD/20100524/DI" id="Definitions_1bzguv3" targetNamespace="http://bpmn.io/schema/bpmn" exporter="bpmn-js (https://demo.bpmn.io)" exporterVersion="10.2.0">
  <bpmn:process id="helloWorld">
    <bpmn:startEvent id="StartEvent_0uod0t7">
      <bpmn:outgoing>Flow_11ljs02</bpmn:outgoing>
    </bpmn:startEvent>
    <bpmn:scriptTask id="Activity_0p2zip0" name="Print Hello World" scriptFormat="groovy">
      <bpmn:incoming>Flow_11ljs02</bpmn:incoming>
      <bpmn:outgoing>Flow_1qrh2gt</bpmn:outgoing>
      <bpmn:script>
        def vars = execution.getVariables()
        System.out.println("Hello world " + vars.a)
      </bpmn:script>
    </bpmn:scriptTask>
    <bpmn:endEvent id="Event_0sz7s71">
      <bpmn:incoming>Flow_1qrh2gt</bpmn:incoming>
    </bpmn:endEvent>
    <bpmn:sequenceFlow id="Flow_11ljs02" sourceRef="StartEvent_0uod0t7" targetRef="Activity_0p2zip0" />
    <bpmn:sequenceFlow id="Flow_1qrh2gt" sourceRef="Activity_0p2zip0" targetRef="Event_0sz7s71" />
  </bpmn:process>
  <bpmndi:BPMNDiagram id="BPMNDiagram_1">
    <bpmndi:BPMNPlane id="BPMNPlane_1" bpmnElement="Process_1l0gzau">
      <bpmndi:BPMNShape id="_BPMNShape_StartEvent_2" bpmnElement="StartEvent_0uod0t7">
        <dc:Bounds x="152" y="102" width="36" height="36" />
      </bpmndi:BPMNShape>
      <bpmndi:BPMNShape id="Activity_0p2zip0_di" bpmnElement="Activity_0p2zip0">
        <dc:Bounds x="300" y="80" width="100" height="80" />
        <bpmndi:BPMNLabel />
      </bpmndi:BPMNShape>
      <bpmndi:BPMNShape id="Event_0sz7s71_di" bpmnElement="Event_0sz7s71">
        <dc:Bounds x="492" y="102" width="36" height="36" />
      </bpmndi:BPMNShape>
      <bpmndi:BPMNEdge id="Flow_11ljs02_di" bpmnElement="Flow_11ljs02">
        <di:waypoint x="188" y="120" />
        <di:waypoint x="300" y="120" />
      </bpmndi:BPMNEdge>
      <bpmndi:BPMNEdge id="Flow_1qrh2gt_di" bpmnElement="Flow_1qrh2gt">
        <di:waypoint x="400" y="120" />
        <di:waypoint x="492" y="120" />
      </bpmndi:BPMNEdge>
    </bpmndi:BPMNPlane>
  </bpmndi:BPMNDiagram>
</bpmn:definitions>
